body {
    margin: auto;
    max-width: 1000px;
    background-image: url(../../imgs/body/html.jpg);
    //background-size: cover;
}

#header {
    background-image: url(../../imgs/header/header_4.jpg);
    //background-color: #c194f5;
    padding: 10px 20px;
    max-width: 100%;
    background-size: cover;
}

#header h1#sitename {
    margin: 30px 0 30px 0;
    color: white;
}

#header #navigation a {
    color: black;
    background: white;
}
#header #navigation a:hover {
    color: black;
    background: #dddddd;
}

#content {
    margin: auto;
    max-width: 1000px;
    padding: 10px 20px;
    //background-color: #ede8be;
    background-image: url(../../imgs/content/content_1.jpg);
    background-size: cover;
    color: whitesmoke;
}

.news {
    margin-bottom: 15px;
}
.news .title {
    border-bottom: 1px solid #555;
    color: #555;
    font-weight: bold;
    font-size: 1.3em;
}
.news .text {
    margin: 5px 0;
}
.news .date {
    text-align: right;
    font-style: italic;
}

#footer {
    background-image: url(../../imgs/footer/footer_2.jpg);
    background-repeat: no-repeat;
    color: white;
    padding: 10px 20px;
    text-align: center;
    background-size: cover;
}

#footer a{
    color:white;
}

#footer .nav>li>a:hover, 
#footer .nav>li>a:focus {
    text-decoration: none;
    color: red;
    background-color: transparent;
}

.nav-justified li{
    padding: 0 15px;
}

.form-group{
    max-width: 800px;
}

.img-thumbnail{
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 5px;
    width: 100%;
    max-width: 200px;
    max-height: 200px;
}

#content #googlemap{
    padding-top: 50px;
    margin-left: 200px;
    color: black;
}

#content table{
    width: 100%;
}

td, th {
    padding: 15px;
}

#contactSubmit {
    width: 100%;
    height: 50px;
    border-radius: 0;
    border: 1px solid #333;
    background: rgba(0,0,0,0.8);
    color: #fff;
    margin-left: 0px;
}

#contactSubmit:hover {
    background: rgba(9,8,77,0.7);
}

#productTable{
    border-color: white;
}

.nav-pills>li>a {
    border-radius: 0px;
}

#h2format2{
    margin-left:10px;
}

#content .col-md-4{
    padding-left: 50px;
}

#contactH2{
    text-decoration: underline;
}

#content .title{
    color: white;
}

#content .title{
    text-decoration: underline;
}

.lead{
    font-size: 16px;
    font-style: italic;
}